.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  .layout-body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: var(--body-color);

    .layout-children {
      flex: 1;
      padding: 1.5em;
    }
  }
}
