# Frontend
FRONTEND_CONTAINER=
FRONTEND_PORT=
VITE_API_URL=

# Backend
BACKEND_CONTAINER=
API_PORT=

# DB (Postgres)
DB_CONTAINER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_VOLUME=

# Adminer
ADMINER_CONTAINER=
ADMINER_PORT=

# Network
NETWORK=