services:
  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./src/frontend:/usr/src/frontend
      - /usr/src/frontend/node_modules
    networks:
      - react
    depends_on:
      - db
    environment:
      - VITE_API_URL=http://localhost:3000

  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - react

  adminer:
    image: adminer:5.4.2
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
      ADMINER_DESIGN: nette
    depends_on:
      - db
    networks:
      - react

volumes:
  db_data:

networks:
  react:
    driver: bridge
