.dashboard {
  min-height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

    .stats-cards,
    .small-calendar {
      flex: 1;
    }

    .small-calendar {
      justify-content: center;
    }
  }
}
