.recent-applications {
    --grid-columns: 2fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1.2fr 24px;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px #afafaf solid;
    border-radius: 10px;
}

.recent-applications-columns {
    display: grid;
    grid-template-columns: var(--grid-columns);
    align-items: center;
    color: #727272;
    padding-bottom: 1rem;
    border-bottom: 1px #E6E9ED solid;
}