.sidebar {
    padding: 0.5em 1em;
    max-width: 200px;
    min-height: 100vh;
    background-color: var(--background-color);
    border-right: 1px solid var(--fourth-color);

    & .sidebar_list {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }
}
