.pi{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--stroke-color);
    background-color: var(--background-color);
    width: 50%;
}

.pi-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--stroke-color);
    padding-bottom: 15px;

    p{
        font-size: 1.5rem;
    }
}

.pi-edit{
    display: flex;
    column-gap: 10px;
    padding: 5px 8px 5px 13px;
    align-items: center;
    background-color: var(--body-color);
    border-radius: 50px;
}

.pi-edit-SVG{
    display: flex;
    gap: 10px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 50px;
    
    path{
        fill: var(--background-color);
    }
}

.pi-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pi-content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pi-content-default{
    color: color-mix(in srgb, var(--font-color), transparent 65%);
}

.pi-content-text{
    font-weight: bold;
}