.applications-row td {
    border-bottom: 1px #E6E9ED solid;
}

.applications-row:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.applications-company {
    display: flex;
    align-items: center;
    gap: 12px;
}

.applications-company img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}