.card-document {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 20%;
    border: 1px #afafaf solid;
    border-radius: 10px;
}

.card-document-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
    background-color: #e8e8e8;
    border-bottom: 1px #afafaf solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pdf-preview {
    overflow: hidden;
    pointer-events: none;
    border: 0;
}

.card-document-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.card-document-content h4 {
    margin-bottom: 0;
    font-size: 22px
}

.card-document-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-document-footer-icons {
    display: flex;
    gap: 0.5rem;
}